art
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
python-dotenv
langchain-google-community
langchain-google-community[gmail]
langgraph
streamlit
tabulate
pandas
numpy
faiss-cpu
langchain-qdrant
qdrant-client
unstructured
langchain-pinecone
pinecone-client